body {
	font-family: Lucida, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

img, a img {
	border: none;
}

a:link {
	color: #666;
}
a:visited {
	text-decoration:none;
	color: #777;
}
a:hover {
/*  background: #666;*/
	text-decoration: none;
	color: #999;
}
#nav {
	background: #333;
	margin: 0px;
	padding: 2px;
	color: #999;
	height: 14px;
	position: fixed;
	font-size: 12px;
	width: 100%;
	z-index: 10;
}

#nav #login {
	padding: 0px 5px;
}
#nav img {
  vertical-align: middle;
}
#nav ul {
 list-style-type: none;
 padding: 0px 4px;
 margin: 0px;
}
#nav ul li {
 float:left;
 padding: 0px;
 margin: 0px 4px;
}
#nav #timelines ul li a {
 background: #CCC;
 color: #333;
 padding: 2px 4px;
 -moz-border-radius-topleft: 4px;
}
#nav #timelines ul li.active a {
  background:#D86F40;
  color:#FFF;
}
#nav #timelines ul li a.kill {
  padding: 2px;
  background:#7E7E7E;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 4px;
}

#nav .loading {
	position: absolute;
	top: 2px;
	right: 2px;
}

#nav div {
	float: left;
}


#main {
	clear: both;
	padding-top: 30px;
	background: #FFF;
}

/*#update {
  position: absolute;
  top: 10px;
  padding: 20px 0px;
  width: 100%;
  background: #7D7D7D;
}
#update textarea {
  margin: 4px;
  width: 96%;
  height: 40px;
  padding: 4px;
  font-size: 18px;
  font-family: Lucida, Arial, sans-serif;
  font-weight: bold;
  border: 1px solid #CCC;
}
*/

.timeline {
  position: absolute;
  top: 30px;
}

.tweets-group {
  padding: 5px 0px;
	border-top: 1px solid #E5E5E5;
	position: relative;
}

.tweets-group .timestamp, .no-tweets {
	right: 5px;
	font-size: 11px;
	background: #FFF;
	color: #CCC;
	padding: 0px 5px; 
}
.tweets-group .timestamp {
	position: absolute;
	top: -10px;
	right: 5px;
}
.no-tweets {
 position:relative;
 padding: 0px 5px;
}

.tweet {
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
.tweet-user {
	width: 60px;
	float:left;
}
.tweets-group .tweet-user img {
	width: 48px;
  height: 48px;
}


.clear {
  height: 0px;
	clear: both;
}